body {
    font-family: 'Arial', sans-serif;
    background-color: #222222;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.booster-container {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #ff6600;
}

.booster-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    max-width: 500px;
    margin: 0 auto;
}

.card {
    background-color: #333333;
    width: 100px;
    height: 140px;
    margin: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateY(-50px);
}

.btn {
    background-color: #ff6600;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff9900;
}
