<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">
        <h1>S'inscrire</h1>
        <form method="POST">
            <div>
                <label for="pseudo">Pseudo</label>
                <input type="text" name="pseudo" required>
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">S'inscrire</button>
        </form>
        <p>Déjà un compte ? <a href="{{ url_for('signin') }}">Connectez-vous ici</a></p>
    </div>

</body>
</html>
